Repository tailwarden/komiser, pull requests merged in 2023-03, with the labels that each got.

#433 Fix/8 incorrect aws cost estimations due to BeginningOfMonth method
  providers/aws/apigateway/apis.go
  providers/aws/cloudfront/distributions.go
  providers/aws/dynamodb/tables.go
  providers/aws/ec2/instances.go
  providers/aws/eks/clusters.go
  providers/aws/elb/loadbalancers.go
  providers/aws/lambda/functions.go
  providers/aws/s3/buckets.go
  providers/aws/sns/topics.go
  providers/aws/sqs/queues.go
  utils/datecalc.go
Labels: enhancement, aws

#429 Komiser dashboard enhancements
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapCard.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapChart.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapTooltip.tsx
  dashboard/components/dashboard/components/cloud-map/hooks/useCloudMapTooltip.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerCard.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerError.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerSkeleton.tsx
  dashboard/components/dashboard/components/cost-explorer/hooks/useCostExplorerChart.tsx
  dashboard/components/dashboard/components/resources-manager/DashboardResourcesManagerCard.tsx
  dashboard/components/dashboard/components/resources-manager/hooks/useResourcesManagerChart.tsx
  dashboard/components/select/Select.mocks.tsx
  dashboard/components/select/Select.tsx
  dashboard/components/sidepanel/SidepanelTabs.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/tailwind.config.js
Labels: ui

#441 Azure SQL server support
  go.mod
  go.sum
  providers/azure/azure.go
  providers/azure/databases/sql.go
Labels: feature, azure

#434 Removed region check for S3 resource fetching
  providers/aws/s3/buckets.go
Labels: aws

#443 Add Toast component to storybook
  .gitignore
  dashboard/components/toast/Toast.stories.tsx
  dashboard/components/toast/Toast.tsx
Labels: enhancement, frontend

#440 added contributors to readme file
  README.md
Labels: documentation

#475 Add cost estimation for EBS volumes
  providers/aws/ec2/volumes.go
Labels: aws

#589 Send weekly reporting (tags coverage and cost breakdown) on Friday
  go.mod
  go.sum
  internal/internal.go
  models/config.go
  models/stat.go
Labels: slack

#592 Boilerplate for MongoDB Atlas Provider
  go.mod
  go.sum
  internal/config/load.go
  internal/internal.go
  models/config.go
  providers/mongodbatlas/mongodbatlas.go
  providers/providers.go
Labels: new provider, go, mongodb

#593 Collect clusters from MongoDB Atlas projects
  dashboard/public/assets/img/providers/mongodbatlas.jpg
  dashboard/utils/providerHelper.ts
  internal/config/load.go
  internal/internal.go
  models/config.go
  providers/mongodbatlas/clusters/clusters.go
  providers/mongodbatlas/mongodbatlas.go
Labels: mongodb

#591 Add unit tests to Card
  dashboard/.eslintrc.json
  dashboard/components/card/Card.test.tsx
  dashboard/components/card/Card.tsx
  dashboard/components/tooltip/Tooltip.tsx
  dashboard/jest.config.js
  dashboard/jest.setup.js
  dashboard/package-lock.json
  dashboard/package.json
Labels: ui

#594 Add cost estimation for MongoDB clusters
  providers/mongodbatlas/clusters/clusters.go
  providers/mongodbatlas/mongodbatlas.go
Labels: mongodb

#599 feat: added az databox
  go.mod
  go.sum
  providers/azure/azure.go
  providers/azure/storage/databox.go
Labels: azure

#597 Add normalization for region names of MongoDB clusters
  providers/mongodbatlas/clusters/clusters.go
  providers/mongodbatlas/clusters/clusters_test.go
  utils/regions.go
Labels: mongodb

#455 issue 454, add support for AWS AutoScalingGroups
  .circleci/config.yml
  go.mod
  go.sum
  internal/internal.go
  mocks/AutoScalingGroupClient.go
  providers/aws/apigateway/apis.go
  providers/aws/aws.go
  providers/aws/cloudfront/distributions.go
  providers/aws/ec2/autoscaling_groups.go
  providers/aws/ec2/autoscaling_groups_client.go
  providers/aws/ec2/autoscaling_groups_test.go
  providers/aws/lambda/functions.go
  providers/aws/s3/buckets.go
  providers/aws/sns/topics.go
  providers/aws/sqs/queues.go
  providers/digitalocean/k8s/kubernetes.go
  providers/digitalocean/kubernetes/kubernetes.go
  providers/digitalocean/network/vpcs.go
  providers/linode/compute/instances.go
  providers/linode/compute/lke_clusters.go
  providers/linode/networking/firewalls.go
  providers/linode/networking/node_balancers.go
  providers/linode/storage/databases.go
  providers/linode/storage/volumes.go
Labels: enhancement, aws

#600 Unit tests for Dashboard Top Stats Cards & Dashboard Cloud Map widgets
  dashboard/components/card/Card.test.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMap.stories.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMap.test.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMap.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapCard.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapError.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapSkeleton.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapWrapper.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStats.test.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStatsCards.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStatsError.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStatsSkeleton.tsx
  dashboard/components/dashboard/utils/mockDataForDashboard.ts
  dashboard/components/layout/context/GlobalAppContext.tsx
  dashboard/pages/dashboard.tsx
  dashboard/utils/formatNumber.test.ts
  dashboard/utils/providerHelper.test.ts
  dashboard/utils/regex.test.ts
Labels: ui

#615 feat: added azure table support
  providers/azure/azure.go
  providers/azure/storage/table.go
Labels: enhancement, azure

#617 Fix modal styling on Firefox
  dashboard/components/inventory/components/InventoryViewsHeader.tsx
  dashboard/components/inventory/components/view/InventoryView.tsx
  dashboard/components/modal/Modal.tsx
Labels: ui

#616 Update charts colors (Resources Manager & Cost Explorer)
  dashboard/components/dashboard/components/cost-explorer/hooks/useCostExplorerChart.tsx
  dashboard/components/dashboard/components/resources-manager/hooks/useResourcesManagerChart.tsx
Labels: ui

#623 Added support for AWS IAM Groups
  providers/aws/aws.go
  providers/aws/iam/groups.go
Labels: aws

#625 Added support for AWS IAM OIDC Providers
  providers/aws/aws.go
  providers/aws/iam/oidcproviders.go
Labels: aws

#627 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#619 Add csv export endpoint for resources
  handlers/csv_handler.go
  internal/api/v1/endpoints.go
Labels: go

#628 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#620 Export CSV Component
  dashboard/components/button/Button.tsx
  dashboard/components/export-csv/ExportCSV.tsx
  dashboard/components/export-csv/ExportCSVButton.stories.tsx
  dashboard/components/export-csv/ExportCSVButton.test.tsx
  dashboard/components/export-csv/ExportCSVButton.tsx
  dashboard/components/icons/AlertIcon.tsx
  dashboard/components/icons/BookmarkIcon.tsx
  dashboard/components/icons/ChevronDownIcon.tsx
  dashboard/components/icons/CloseIcon.tsx
  dashboard/components/icons/DeleteIcon.tsx
  dashboard/components/icons/DownloadIcon.tsx
  dashboard/components/icons/DuplicateIcon.tsx
  dashboard/components/icons/EditIcon.tsx
  dashboard/components/icons/LinkIcon.tsx
  dashboard/components/icons/SearchIcon.tsx
  dashboard/components/icons/WarningIcon.tsx
  dashboard/components/inventory/components/InventorySearchBar.tsx
  dashboard/components/inventory/components/InventoryTable.tsx
  dashboard/components/inventory/components/InventoryViewsHeader.tsx
  dashboard/components/inventory/components/view/InventoryView.tsx
  dashboard/components/inventory/components/view/InventoryViewHeader.tsx
  dashboard/components/tooltip/Tooltip.tsx
  dashboard/pages/inventory.tsx
  dashboard/services/settingsService.ts
Labels: ui

#629 added dashboard contributor video to dashboard readme
  dashboard/README.md
Labels: documentation

#640 Added support for AWS Instance Profiles
  providers/aws/aws.go
  providers/aws/iam/instanceprofiles.go
Labels: aws

#647 if opt in collect usage stats (slack & global)
  handlers/csv_handler.go
  handlers/stats_handler.go
Labels: analytics

#649 added missing RDS cost estimate
  models/price.go
  providers/aws/ec2/instances.go
  providers/aws/rds/instances.go
Labels: aws

#648 Collecting MongoDB Serverless clusters
  providers/mongodbatlas/clusters/clusters.go
  providers/mongodbatlas/sererlessinstances/serverless.go
  utils/regions.go
  utils/utils_test.go
Labels: mongodb

#650 feat: calculate monthly cost for bucket
  go.mod
  go.sum
  providers/gcp/storage/storage.go
Labels: gcp

#659 feat: aws managed keys are free
  policy.json
  providers/aws/kms/keys.go
Labels: aws

#664 Tech 1019/support elastic ips
  providers/aws/aws.go
  providers/aws/ec2/elastic-ips.go
Labels: aws

#678 added support for cloudwatch custom dashboards
  providers/aws/aws.go
  providers/aws/cloudwatch/dashboards.go
Labels: aws

#680 v3.0.9 release 🚀
  .github/go.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerCard.tsx
  dashboard/components/dashboard/components/resources-manager/DashboardResourcesManagerCard.tsx
  dashboard/package.json
  dashboard/public/assets/img/others/empty-state-cost-explorer.png
  dashboard/public/assets/img/others/empty-state-resources-manager.png
  internal/internal.go
  policy.json
  providers/aws/aws.go
  providers/aws/cloudwatch/dashboards.go
  providers/aws/ec2/elastic-ips.go
  providers/aws/ec2/internet_gateways.go
  providers/aws/iam/policies.go
  providers/aws/kms/keys.go
Labels: aws
