Repository tailwarden/komiser, pull requests merged in 2023-08, with the labels that each got.

#910 Fixing issue#842: input fields under tags management was unreasonably large
  dashboard/components/input/Input.tsx
Labels: ui

#908 fix(filter-tags): fix tags and button design
  dashboard/components/inventory/components/InventoryActiveFilters.tsx
  dashboard/components/inventory/components/filter/InventoryFilterSummary.tsx
Labels: frontend

#909 Update policy.json to provide access to s3, cloudwatch and ssm list access
  policy.json
Labels: aws

#913 Added support for AWS Load balancer Target Groups
  providers/aws/aws.go
  providers/aws/elb/targetgroups.go
Labels: aws

#915 Removing a / thats breaking the AWS console Load Balancer URL in the UI
  providers/aws/elb/loadbalancers.go
Labels: aws

#917 Added support for AWS ELB Listeners
  providers/aws/elb/loadbalancers.go
Labels: aws

#919 Fix/918 Updated IAM Identity Provider console URL
  providers/aws/iam/oidcproviders.go
Labels: aws

#926 Added support for ELB and Listener types
  providers/aws/elb/loadbalancers.go
Labels: aws
