Repository tailwarden/komiser, pull requests merged in 2023-10, with the labels that each got.

#1011 fix: improve dependency graph design and layout
  dashboard/components/explorer/DependencyGraph.tsx
  dashboard/components/explorer/DependencyGraphWrapper.tsx
  dashboard/components/explorer/config.ts
  dashboard/components/explorer/hooks/useDependencyGraph.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/styles/globals.css
Labels: enhancement, frontend

#1041 feat: support k8s nodes
  providers/k8s/core/nodes.go
  providers/k8s/k8s.go
Labels: kubernetes

#1040 Feature/550 lambda eventsourcemapping
  providers/aws/aws.go
  providers/aws/lambda/eventsourcemappings.go
Labels: aws, hacktoberfest-accepted

#1034 [Feature] Enhancing the Contributing Guide
  CONTRIBUTING.md
Labels: docs

#1044 Adding Kinesis Data Streams to the list of supported resources
  docs/configuration/cloud-providers/aws.mdx
Labels: docs

#1046 feat: support k8s namespaces
  providers/k8s/core/namespaces.go
  providers/k8s/k8s.go
Labels: kubernetes

#1050 doc: path is a string and should use double quotes
  CONTRIBUTING.md
  docs/configuration/cloud-providers/aws.mdx
  docs/getting-started/quickstart.mdx
Labels: docs

#1057 feat: support k8s controllers
  providers/k8s/core/daemonsets.go
  providers/k8s/core/jobs.go
  providers/k8s/core/statefulsets.go
  providers/k8s/k8s.go
Labels: kubernetes

#1054 feat: Fix cost calculations for AWS S3
  providers/aws/s3/buckets.go
Labels: aws

#1073 feat: add support of Kinesis EFO Consumers
  docs/configuration/cloud-providers/aws.mdx
  mocks/kinesis.go
  policy.json
  providers/aws/kinesis/streams.go
  providers/aws/kinesis/streams_test.go
Labels: aws, hacktoberfest-accepted

#1085 fix(git): favicon.ico & azure.svg files always showing modified
  .gitattributes
  dashboard/public/assets/img/providers/azure.svg
Labels: cli

#1087 Update Contribution Guidelines
  CONTRIBUTING.md
  dashboard/README.md
Labels: docs

#1065 feat: concurrent resource fetching per provider
  internal/internal.go
  internal/internal_test.go
  providers/aws/aws.go
  providers/providers.go
Labels: aws

#1099 #1089 Added nil check on associated KeyPair
  providers/aws/ec2/instances.go
Labels: aws

#1103 feat: retrieve tags of Kinesis Data Streams
  providers/aws/kinesis/streams.go
Labels: aws

#1091 Track number of fetch dependencies
  providers/aws/aws.go
Labels: dependencies, aws

#1113 fix: nil pointer scaleway
  providers/scaleway/compute/instances.go
Labels: scaleway

#1111 feat: fetch DynamoDB costs for RCUs and WCUs
  providers/aws/dynamodb/tables.go
  providers/aws/utils/utils.go
  providers/aws/utils/utils_test.go
Labels: feature, aws

#1101 [Feat-1081] Render empty state explorer (no resources)
  dashboard/components/empty-state/EmptyState.tsx
  dashboard/components/explorer/DependencyGraph.tsx
  dashboard/components/explorer/DependencyGraphWrapper.tsx
  dashboard/public/assets/img/purplin/devops.svg
Labels: ui

#1119 feat: remove white space and scroll #1067
  dashboard/components/explorer/filter/DependendencyGraphFilter.tsx
Labels: ui

#1117 feat: add reusable upload component to storybook #1095
  dashboard/components/feedback-widget/FeedbackWidget.tsx
  dashboard/components/upload/Upload.stories.tsx
  dashboard/components/upload/Upload.tsx
Labels: ui

#1121 fix: update toast imports
  dashboard/components/explorer/filter/DependendencyGraphFilter.tsx
  dashboard/components/feedback-widget/FeedbackWidget.tsx
  dashboard/components/upload/Upload.stories.tsx
  dashboard/components/upload/Upload.tsx
Labels: ui

#1124 fix: relation name persisting on screen while hovering graph edges #1066
  dashboard/components/explorer/DependencyGraph.tsx
  dashboard/components/feedback-widget/FeedbackWidget.tsx
  dashboard/components/upload/Upload.stories.tsx
Labels: ui

#1120 fix: improve backend testsuite
  CONTRIBUTING.md
  Makefile
  dashboard/components/feedback-widget/FeedbackWidget.tsx
  dashboard/components/upload/Upload.stories.tsx
  dashboard/components/upload/Upload.tsx
  dashboard/styles/globals.css
  providers/aws/utils/utils_test.go
  utils/gcpcomputepricing/machine.go
  utils/gcpcomputepricing/machine_test.go
  utils/gcpcomputepricing/main_test.go
  utils/gcpcomputepricing/types_gce.go
Labels: bug, go, cli, gcp

#1127 (feature/0457-support-amazon-cloudfront-function): Support Amazon Clo…
  docs/configuration/cloud-providers/aws.mdx
  policy.json
  providers/aws/aws.go
  providers/aws/cloudfront/functions.go
Labels: hold

#1139 feat: fetch single resource by resource id
  cmd/config.go
  dashboard/README.md
  handlers/resources_handler.go
  internal/api/v1/endpoints.go
Labels: api

#1141 v3.1.3 release 🚀
  CONTRIBUTING.md
  Makefile
  cmd/config.go
  dashboard/README.md
  dashboard/components/explorer/DependencyGraph.tsx
  dashboard/components/explorer/filter/DependendencyGraphFilter.tsx
  dashboard/components/feedback-widget/FeedbackWidget.tsx
  dashboard/components/upload/Upload.stories.tsx
  dashboard/components/upload/Upload.tsx
  dashboard/jest.setup.js
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/styles/globals.css
  docs/configuration/cloud-providers/aws.mdx
  go.mod
  go.sum
  handlers/accounts_handler.go
  handlers/resources_handler.go
  internal/api/v1/endpoints.go
  mocks/cloudwatch.go
  mocks/pricing.go
  policy.json
  providers/aws/aws.go
  providers/aws/cloudfront/functions.go
  providers/aws/cloudwatch/log_metrics.go
  providers/aws/ec2/instances.go
  providers/aws/kinesis/streams.go
  providers/aws/kinesis/streams_test.go
  providers/aws/lambda/functions.go
  providers/aws/s3/buckets.go
  providers/aws/utils/utils_test.go
  providers/civo/compute/instances.go
  providers/civo/kubernetes/clusters.go
  providers/civo/network/firewalls.go
  providers/civo/network/loadbalancers.go
  providers/civo/storage/databases.go
  providers/civo/storage/volumes.go
  utils/gcpcomputepricing/machine.go
  utils/gcpcomputepricing/machine_test.go
  utils/gcpcomputepricing/main_test.go
  utils/gcpcomputepricing/types_gce.go
Labels: ui, aws, civo, gcp, docs

#1151 feat: display node details in sidepanel #1072
  dashboard/components/explorer/DependencyGraph.tsx
  dashboard/components/icons/HyperLinkIcon.tsx
  dashboard/components/inventory/components/InventorySidePanel.tsx
  dashboard/components/inventory/hooks/useInventory/types/useInventoryTypes.ts
  dashboard/components/inventory/hooks/useInventory/useInventory.tsx
  dashboard/components/pill/Pill.mocks.tsx
  dashboard/components/pill/Pill.stories.tsx
  dashboard/components/pill/Pill.tsx
  dashboard/components/sidepanel/Sidepanel.stories.tsx
  dashboard/components/sidepanel/Sidepanel.tsx
  dashboard/components/sidepanel/SidepanelFooter.tsx
  dashboard/components/sidepanel/SidepanelHeader.tsx
  dashboard/components/sidepanel/SidepanelPage.tsx
  dashboard/components/sidepanel/SidepanelTabs.tsx
  dashboard/pages/inventory.tsx
  dashboard/services/settingsService.ts
  dashboard/utils/formatString.ts
Labels: ui
