Repository tailwarden/komiser, pull requests merged in 2023-02, with the labels that each got.

#332 add support for k8s deployments
  providers/k8s/core/deployments.go
  providers/k8s/k8s.go
Labels: enhancement, kubernetes

#336 feat: support civo object store #319
  providers/civo/civo.go
  providers/civo/storage/objectstores.go
Labels: civo

#337 added Civo load balancers
  providers/civo/civo.go
  providers/civo/network/loadbalancers.go
Labels: civo

#339 feat: support aws cloudwatch alarms #234
  providers/aws/aws.go
  providers/aws/cloudwatch/alarms.go
Labels: aws

#340 add support for other kubernetes resources
  providers/k8s/core/ingress.go
  providers/k8s/core/pv.go
  providers/k8s/core/pvc.go
  providers/k8s/core/sa.go
  providers/k8s/k8s.go
Labels: kubernetes

#342 use namespaces instead of regions
  providers/k8s/core/deployments.go
  providers/k8s/core/ingress.go
  providers/k8s/core/pods.go
  providers/k8s/core/pv.go
  providers/k8s/core/pvc.go
  providers/k8s/core/sa.go
  providers/k8s/core/services.go
Labels: kubernetes

#345 Added cost to remaining AWS resources
  go.mod
  go.sum
  policy.json
  providers/aws/cloudfront/distributions.go
  providers/aws/dynamodb/tables.go
  providers/aws/ecr/repositories.go
  providers/aws/efs/efs.go
  providers/aws/eks/clusters.go
  providers/aws/elb/loadbalancers.go
  providers/aws/sns/topics.go
Labels: enhancement, aws

#344 Initial refactor of useInventory hook
  dashboard/components/banner/Banner.tsx
  dashboard/components/banner/hooks/useGithubStarBanner.tsx
  dashboard/components/inventory/components/InventoryActiveFilters.tsx
  dashboard/components/inventory/components/InventoryHeader.tsx
  dashboard/components/inventory/components/InventoryLayout.tsx
  dashboard/components/inventory/components/InventorySidePanel.tsx
  dashboard/components/inventory/components/InventoryStatsCards.tsx
  dashboard/components/inventory/components/InventoryTable.tsx
  dashboard/components/inventory/components/InventoryTableBulkActions.tsx
  dashboard/components/inventory/components/InventoryTableTags.tsx
  dashboard/components/inventory/components/InventoryTagWrapper.tsx
  dashboard/components/inventory/components/InventoryViewsHeader.tsx
  dashboard/components/inventory/components/filter/InventoryFilterOperator.tsx
  dashboard/components/inventory/components/filter/InventoryFilterSummary.tsx
  dashboard/components/inventory/components/filter/InventoryFilterValue.tsx
  dashboard/components/inventory/components/filter/hooks/useFilterWizard.tsx
  dashboard/components/inventory/components/view/InventoryView.tsx
  dashboard/components/inventory/components/view/hooks/useViews.tsx
  dashboard/components/inventory/hooks/useInventory.tsx
  dashboard/components/inventory/hooks/useInventory/helpers/getCustomViewInventoryListAndStats.ts
  dashboard/components/inventory/hooks/useInventory/helpers/getInventoryListAndStats.ts
  dashboard/components/inventory/hooks/useInventory/helpers/getInventoryListFromAFilter.ts
  dashboard/components/inventory/hooks/useInventory/helpers/infiniteScrollCustomViewList.ts
  dashboard/components/inventory/hooks/useInventory/helpers/infiniteScrollFilteredList.ts
  dashboard/components/inventory/hooks/useInventory/helpers/infiniteScrollInventoryList.ts
  dashboard/components/inventory/hooks/useInventory/helpers/infiniteScrollSearchedAndFilteredList.ts
  dashboard/components/inventory/hooks/useInventory/helpers/infiniteScrollSearchedCustomViewList.ts
  dashboard/components/inventory/hooks/useInventory/helpers/infiniteScrollSearchedList.ts
  dashboard/components/inventory/hooks/useInventory/helpers/parseURLParams.ts
  dashboard/components/inventory/hooks/useInventory/types/useInventoryTypes.ts
  dashboard/components/inventory/hooks/useInventory/useInventory.tsx
  dashboard/components/inventory/hooks/useIsVisible/useIsVisible.tsx
  dashboard/components/layout/Layout.tsx
  dashboard/components/spacing/VerticalSpacing.tsx
  dashboard/pages/index.tsx
  dashboard/services/settingsService.ts
Labels: enhancement

#354 New PR Template
  PULL_REQUEST_TEMPLATE.md
Labels: enhancement, documentation

#360 Dashboard boilerplate
  dashboard/components/inventory/components/InventoryActiveFilters.tsx
  dashboard/components/inventory/components/InventoryLayout.tsx
  dashboard/components/inventory/components/InventorySearchNoResults.tsx
  dashboard/components/inventory/components/filter/hooks/useFilterWizard.tsx
  dashboard/components/inventory/components/view/hooks/useViews.tsx
  dashboard/components/inventory/hooks/useInventory/helpers/getCustomViewInventoryListAndStats.ts
  dashboard/components/inventory/hooks/useInventory/helpers/getInventoryListFromAFilter.ts
  dashboard/components/inventory/hooks/useInventory/helpers/infiniteScrollCustomViewList.ts
  dashboard/components/inventory/hooks/useInventory/useInventory.tsx
  dashboard/components/navbar/Navbar.tsx
  dashboard/pages/dashboard.tsx
  dashboard/pages/index.tsx
  dashboard/pages/inventory.tsx
  dashboard/public/assets/img/komiser.svg
  providers/linode/linode.go
  providers/linode/storage/buckets.go
Labels: ui

#356 Feat: Collect nodebalancers and firewalls in linode
  providers/linode/linode.go
  providers/linode/networking/firewalls.go
  providers/linode/networking/node_balancers.go
Labels: linode

#362 Feat: Collect databases and disk-images in civo
  go.mod
  go.sum
  providers/civo/civo.go
  providers/civo/storage/databases.go
  providers/civo/storage/diskimages.go
Labels: civo

#367 Fixed cost calculation for S3 buckets
  providers/aws/s3/buckets.go
  providers/linode/linode.go
  providers/linode/networking/firewalls.go
  providers/linode/networking/node_balancers.go
Labels: aws

#366 Enable segment and sentry
  .circleci/config.yml
  Dockerfile
  cmd/start.go
  go.mod
  go.sum
  internal/api/v1/endpoints.go
  internal/internal.go
Labels: enhancement, analytics

#370 feat: expose dashboard stats
  handlers/dashboard_handler.go
  internal/api/v1/endpoints.go
Labels: enhancement

#365 feat: added azure vms, disks and images
  go.mod
  go.sum
  internal/config/load.go
  internal/internal.go
  models/config.go
  providers/azure/azure.go
  providers/azure/compute/disks.go
  providers/azure/compute/images.go
  providers/azure/compute/virtual_machines.go
  providers/providers.go
Labels: azure

#361 Dashboard top stats
  dashboard/components/card/Card.tsx
  dashboard/components/card/CardSkeleton.tsx
  dashboard/components/dashboard/components/DashboardLayout.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStats.tsx
  dashboard/components/dashboard/components/top-stats/useDashboardTopStats.tsx
  dashboard/components/dashboard/utils/mockDataForDashboard.ts
  dashboard/components/inventory/components/InventoryLayout.tsx
  dashboard/components/layout/Layout.tsx
  dashboard/pages/dashboard.tsx
  dashboard/utils/formatNumber.ts
Labels: ui

#375 Feature/3 support aws provisioned rds instances
  providers/aws/aws.go
  providers/aws/rds/instances.go
Labels: enhancement, aws

#373 Cloud map widget
  dashboard/components/dashboard/components/DashboardLayout.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMap.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapChart.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapError.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapSkeleton.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapTooltip.tsx
  dashboard/components/dashboard/components/cloud-map/hooks/useCloudMap.tsx
  dashboard/components/dashboard/components/cloud-map/hooks/useCloudMapTooltip.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStats.tsx
  dashboard/components/dashboard/components/top-stats/hooks/useDashboardTopStats.tsx
  dashboard/components/grid/Grid.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/dashboard.tsx
  dashboard/public/assets/img/others/world.svg
  dashboard/public/data/map/countries.json
  dashboard/tailwind.config.js
Labels: ui

#363 Feat: Collect resources[BlockVolumes, Functions, Applications, Buckets, Policies, Autonomous Databases] in oci
  providers/oci/developerservices/applications.go
  providers/oci/developerservices/functions.go
  providers/oci/iam/policies.go
  providers/oci/oci.go
  providers/oci/oracledatabase/autonomousdatabase.go
  providers/oci/storage/blockvolumes.go
  providers/oci/storage/buckets.go
Labels: oci

#377 Cost explorer widget + API plugged for Cloud Map & Resources Manager
  dashboard/components/dashboard/components/cloud-map/hooks/useCloudMap.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorer.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerCard.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerError.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerSkeleton.tsx
  dashboard/components/dashboard/components/cost-explorer/hooks/useCostExplorer.tsx
  dashboard/components/dashboard/components/cost-explorer/hooks/useCostExplorerChart.tsx
  dashboard/components/dashboard/components/cost-explorer/utils/dateHelper.ts
  dashboard/components/dashboard/components/cost-explorer/utils/mockDataChart.ts
  dashboard/components/dashboard/components/resources-manager/DashboardResourcesManager.tsx
  dashboard/components/dashboard/components/resources-manager/DashboardResourcesManagerCard.tsx
  dashboard/components/dashboard/components/resources-manager/DashboardResourcesManagerError.tsx
  dashboard/components/dashboard/components/resources-manager/hooks/useResourcesManager.tsx
  dashboard/components/dashboard/components/resources-manager/hooks/useResourcesManagerChart.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStatsCards.tsx
  dashboard/components/dashboard/utils/mockDataForDashboard.ts
  dashboard/components/layout/Layout.tsx
  dashboard/components/layout/hooks/useGlobalStats.tsx
  dashboard/pages/dashboard.tsx
  dashboard/services/settingsService.ts
Labels: ui

#380 Feat add resources to digital ocean
  go.mod
  go.sum
  providers/digitalocean/databases/databases.go
  providers/digitalocean/digitalocean.go
  providers/digitalocean/functions/namespaces.go
  providers/digitalocean/functions/triggers.go
  providers/digitalocean/k8s/kubernetes.go
  providers/digitalocean/storage/volumes.go
Labels: digitalocean

#381 Komiser minor improvements
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapCard.tsx
  dashboard/components/dashboard/components/cloud-map/hooks/useCloudMapExpand.tsx
  dashboard/components/inventory/components/InventoryLayout.tsx
  dashboard/components/navbar/Navbar.tsx
  dashboard/tailwind.config.js
Labels: ui

#382 Initial support of Scaleway
  dashboard/public/assets/img/providers/scaleway.png
  dashboard/utils/providerHelper.ts
  go.mod
  go.sum
  internal/config/load.go
  internal/internal.go
  models/config.go
  providers/providers.go
  providers/scaleway/scaleway.go
  providers/scaleway/serverless/buckets.go
Labels: scaleway

#411 Feature/4 refactor aws elb provider
  .circleci/config.yml
  go.mod
  go.sum
  policy.json
  providers/aws/elb/loadbalancers.go
  providers/digitalocean/databases/databases.go
  providers/digitalocean/digitalocean.go
  providers/digitalocean/functions/namespaces.go
  providers/digitalocean/functions/triggers.go
  providers/digitalocean/k8s/kubernetes.go
  providers/digitalocean/storage/volumes.go
Labels: enhancement, aws

#412 Added Storybook
  dashboard/.eslintrc.json
  dashboard/.storybook/komiserTheme.ts
  dashboard/.storybook/main.ts
  dashboard/.storybook/manager.ts
  dashboard/.storybook/preview.ts
  dashboard/components/button/Button.mocks.tsx
  dashboard/components/button/Button.stories.tsx
  dashboard/components/card/Card.mocks.tsx
  dashboard/components/card/Card.stories.tsx
  dashboard/components/card/Card.tsx
  dashboard/components/card/CardSkeleton.stories.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerCard.tsx
  dashboard/components/dashboard/components/resources-manager/DashboardResourcesManagerCard.tsx
  dashboard/components/empty-state/EmptyState.mocks.tsx
  dashboard/components/empty-state/EmptyState.stories.tsx
  dashboard/components/error-state/ErrorState.mocks.tsx
  dashboard/components/error-state/ErrorState.stories.tsx
  dashboard/components/error-state/ErrorState.tsx
  dashboard/components/input/Input.mocks.tsx
  dashboard/components/input/Input.stories.tsx
  dashboard/components/layout/Layout.tsx
  dashboard/components/select/Select.mocks.tsx
  dashboard/components/select/Select.stories.tsx
  dashboard/components/select/Select.tsx
  dashboard/components/sidepanel/SidepanelTabs.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/inventory.tsx
  dashboard/services/settingsService.ts
Labels: ui

#423 feat: support azure application gateway #394
  go.mod
  go.sum
  providers/azure/azure.go
  providers/azure/networking/application_gateways.go
Labels: azure

#424 Feat : Add scaleway resources
  providers/scaleway/compute/instances.go
  providers/scaleway/containers/k8sclusters.go
  providers/scaleway/containers/registries.go
  providers/scaleway/network/loadbalancers.go
  providers/scaleway/scaleway.go
  providers/scaleway/serverless/containers.go
  providers/scaleway/serverless/functions.go
  providers/scaleway/storage/databases.go
Labels: scaleway

#426 update readme to include ref to scaleway and azure + gif
  README.md
Labels: documentation
