Repository tailwarden/komiser, pull requests merged in 2023-01, with the labels that each got.

#273 add check for DatabasName nil pointer in RDS clusters file
  providers/aws/rds/clusters.go
Labels: bug

#277 Fix CIVO cost estimates & added few improvements
  dashboard/public/assets/img/providers/civo.jpeg
  dashboard/utils/providerHelper.ts
  internal/api/v1/template.go
  providers/civo/civo.go
  providers/civo/compute/instances.go
  providers/civo/storage/volumes.go
Labels: bug, civo

#278 Estimate CIVO K8s cost
  providers/civo/compute/instances.go
  providers/civo/kubernetes/clusters.go
Labels: enhancement, civo

#281 feat: added cost filter to filters set
  handlers/resources_handler.go
  handlers/stats_handler.go
Labels: feature

#282 K8s support
  dashboard/public/assets/img/providers/kubernetes.png
  dashboard/utils/providerHelper.ts
  go.mod
  go.sum
  internal/api/v1/template.go
  internal/config/load.go
  internal/internal.go
  models/config.go
  providers/k8s/core/pods.go
  providers/k8s/core/services.go
  providers/k8s/k8s.go
  providers/providers.go
Labels: new provider, feature, kubernetes

#283 Fix tags parsing when it has a colon in the value
  dashboard/.eslintrc.json
  dashboard/components/inventory/hooks/useInventory.tsx
  internal/api/v1/template.go
Labels: bug

#286 Filter resources by cost + minor improvements
  dashboard/.eslintrc.json
  dashboard/components/input/Input.tsx
  dashboard/components/inventory/components/InventoryViewsTabs.tsx
  dashboard/components/inventory/components/filter/InventoryFilter.tsx
  dashboard/components/inventory/components/filter/InventoryFilterFieldOptions.tsx
  dashboard/components/inventory/components/filter/InventoryFilterOperator.tsx
  dashboard/components/inventory/components/filter/InventoryFilterSummary.tsx
  dashboard/components/inventory/components/filter/InventoryFilterValue.tsx
  dashboard/components/inventory/components/filter/hooks/useFilterWizard.tsx
  dashboard/components/inventory/components/view/InventoryView.tsx
  dashboard/components/inventory/components/view/hooks/useViews.tsx
  dashboard/components/inventory/hooks/useInventory.tsx
  dashboard/utils/regex.tsx
Labels: enhancement, feature

#287 README.md: fix typo
  README.md
Labels: documentation

#288 feat: support aws api gateways #250
  go.mod
  go.sum
  providers/aws/apigateway/apis.go
  providers/aws/aws.go
Labels: feature, aws

#290 fix package names for providers
  providers/digitalocean/digitalocean.go
  providers/k8s/k8s.go
  providers/oci/oci.go
Labels: enhancement

#292 Add DigitalOcean droplets cost
  providers/digitalocean/droplets/droplets.go
Labels: enhancement, digitalocean

#289 add listen-address CLI flag
  cmd/start.go
  internal/internal.go
Labels: enhancement

#291 add firewalls resource to digitalocean provider
  providers/digitalocean/digitalocean.go
  providers/digitalocean/network/firewalls.go
Labels: feature, digitalocean

#293 Add DigitalOcean VPC resource
  providers/digitalocean/digitalocean.go
  providers/digitalocean/network/vpcs.go
Labels: digitalocean

#294 Add DigitalOcean Load Balancer resource
  providers/digitalocean/digitalocean.go
  providers/digitalocean/network/loadbalancers.go
Labels: enhancement, digitalocean

#297 add help to makefile
  Makefile
Labels: enhancement, cli

#302 feat: added linode support
  dashboard/public/assets/img/providers/linode.png
  dashboard/utils/providerHelper.ts
  go.mod
  go.sum
  internal/api/v1/template.go
  internal/config/load.go
  internal/internal.go
  models/config.go
  providers/linode/compute/instances.go
  providers/linode/linode.go
  providers/providers.go
Labels: new provider, linode

#309 exclude hidden resources
  handlers/views_handler.go
  internal/api/v1/endpoints.go
Labels: bug

#307 feat: support ElastiCache clusters
  go.mod
  go.sum
  providers/aws/aws.go
  providers/aws/elasticache/clusters.go
Labels: aws

#310 Collect Linode storage resources
  providers/linode/linode.go
  providers/linode/storage/databases.go
  providers/linode/storage/volumes.go
Labels: linode

#308 Add Tencent provider
  dashboard/public/assets/img/providers/tencent.jpeg
  dashboard/utils/providerHelper.ts
  go.mod
  go.sum
  internal/api/v1/template.go
  internal/config/load.go
  internal/internal.go
  models/config.go
  providers/providers.go
  providers/tencent/cvm/instances.go
  providers/tencent/tencent.go
Labels: new provider

#312 Hide/unhide resources from a custom view
  dashboard/components/button/Button.tsx
  dashboard/components/inventory/components/InventoryStatsCards.tsx
  dashboard/components/inventory/components/InventoryTable.tsx
  dashboard/components/inventory/components/InventoryTableBulkActions.tsx
  dashboard/components/inventory/components/view/InventoryView.tsx
  dashboard/components/inventory/components/view/hooks/useViews.tsx
  dashboard/components/inventory/hooks/useInventory.tsx
  dashboard/components/sidepanel/Sidepanel.tsx
  dashboard/components/skeleton/SkeletonStats.tsx
  dashboard/pages/index.tsx
  dashboard/public/assets/img/purplin/dashboard.svg
  dashboard/services/settingsService.ts
  dashboard/utils/providerHelper.ts
Labels: feature
