Repository tailwarden/komiser, pull requests merged in 2023-05, with the labels that each got.

#771 feat: track tagging & fix naming of files
  handlers/tags_handler.go
  providers/aws/ec2/vpc_endpoints.go
  providers/aws/ec2/vpc_peering_connection.go
  providers/aws/rds/snapshots.go
Labels: aws, analytics

#772 feat: track global stats if opt-in
  handlers/dashboard_handler.go
Labels: analytics

#789 feat: collect kinesis shards
  go.mod
  go.sum
  providers/aws/aws.go
  providers/aws/kinesis/shards.go
Labels: aws

#790 feat: collect azure disk snapshots #384
  providers/azure/azure.go
  providers/azure/compute/snapshots.go
Labels: azure

#791 feat: collect azure firewalls #392
  providers/azure/azure.go
  providers/azure/networking/firewalls.go
  providers/azure/storage/databoxes.go
  providers/azure/storage/queues.go
  providers/azure/storage/tables.go
Labels: azure

#800 removed extra s3:Get* from IAM policy
  policy.json
Labels: aws

#803 feat(rds): add RDS db proxy endpoint capabilities
  providers/aws/aws.go
  providers/aws/rds/db_proxy_endpoints.go
Labels: aws

#806 add account name for AWS ec2 keypair inventories
  providers/aws/ec2/keypair.go
Labels: aws

#809 Fix kinesis and ecs warnings #805
  providers/aws/aws.go
  providers/aws/ecs/services.go
  providers/aws/ecs/tasks.go
  providers/aws/kinesis/streams.go
Labels: aws

#824 v3.0.17 release 🚀
  .gitignore
  README.md
  dashboard/components/dashboard/components/resources-manager/hooks/useResourcesManagerChart.tsx
  dashboard/package.json
  policy.json
  providers/aws/aws.go
  providers/aws/ec2/keypair.go
  providers/aws/ecs/services.go
  providers/aws/ecs/tasks.go
  providers/aws/kinesis/shards.go
  providers/aws/kinesis/streams.go
  providers/aws/rds/db_proxy_endpoints.go
  providers/gcp/compute/disks.go
  providers/gcp/compute/instances.go
  providers/gcp/compute/instances_test.go
  utils/gcpcomputepricing/machine_types.go
  utils/gcpcomputepricing/machine_types_test.go
  utils/gcpcomputepricing/main.go
  utils/gcpcomputepricing/main_test.go
  utils/gcpcomputepricing/types.go
  utils/gcpcomputepricing/types_cloud_tpu.go
  utils/gcpcomputepricing/types_compute_solutions.go
  utils/gcpcomputepricing/types_gce.go
  utils/gcpcomputepricing/types_gpus.go
  utils/gcpcomputepricing/types_hyperdisk.go
  utils/gcpcomputepricing/types_local_ssd.go
  utils/gcpcomputepricing/types_persistent_disk.go
  utils/gcpcomputepricing/types_vm_image_storage.go
  utils/regions.go
  utils/regions_test.go
Labels: documentation, ui, aws, gcp

#828 Fix AWS sao paulo region lat/long
  utils/regions.go
Labels: aws

#830 Fix AWS EC2 costs when they're stopped
  providers/aws/ec2/instances.go
Labels: aws
