Repository tailwarden/komiser, pull requests merged in 2023-09, with the labels that each got.

#928 Feature/552 eventsubscription
  go.mod
  go.sum
  providers/aws/aws.go
  providers/aws/redshift/eventsubscription.go
Labels: aws

#936 Update policy.json
  policy.json
Labels: aws

#950 Remove some warning in CI
  dashboard/components/onboarding-wizard/PurplinCloud.tsx
  dashboard/components/onboarding-wizard/SelectInput.tsx
  dashboard/components/select/Select.tsx
  dashboard/pages/onboarding/provider/kubernetes.tsx
Labels: ui

#904 Linode lke #818
  providers/linode/linode.go
  providers/linode/lkepool/lke_pool.go
Labels: linode

#959 Update introduction.mdx
  docs/getting-started/introduction.mdx
Labels: docs

#979 Expose cloud accounts management endpoints
  dashboard/components/onboarding-wizard/DatabasePurplin.tsx
  dashboard/components/onboarding-wizard/PurplinCloud.tsx
  dashboard/components/onboarding-wizard/SelectInput.tsx
  dashboard/components/select/Select.tsx
  dashboard/pages/onboarding/choose-cloud.tsx
  handlers/accounts_handler.go
  internal/api/v1/endpoints.go
  internal/config/load.go
  internal/internal.go
  models/account.go
Labels: onboarding

#984 Bigquery table cost calculation
  providers/gcp/bigquery/tables.go
Labels: gcp

#991 support aws iam user
  providers/aws/aws.go
  providers/aws/iam/users.go
Labels: aws

#990 Metric Stream cost calculation
  providers/aws/cloudwatch/alarms.go
  providers/aws/cloudwatch/log_metrics.go
Labels: aws

#995 Opencost integration
  go.mod
  go.sum
  internal/config/load.go
  models/config.go
  providers/k8s/core/deployments.go
  providers/k8s/core/ingress.go
  providers/k8s/core/pods.go
  providers/k8s/core/pv.go
  providers/k8s/core/pvc.go
  providers/k8s/core/sa.go
  providers/k8s/core/services.go
  providers/k8s/opencost/opencost.go
  providers/providers.go
Labels: kubernetes

#1003 Cost explorer
  dashboard/components/dashboard/components/cost-explorer/hooks/useCostExplorer.tsx
  dashboard/components/dashboard/components/cost-explorer/hooks/useCostExplorerChart.tsx
  dashboard/components/dashboard/components/cost-explorer/utils/dateHelper.ts
Labels: ui

#1004 opencost struct types update
  providers/k8s/opencost/opencost.go
Labels: kubernetes

#985 feat: allow user to configure a database
  dashboard/components/icons/AlertCircleIconFilled.tsx
  dashboard/components/onboarding-wizard/CredentialsButton.tsx
  dashboard/components/onboarding-wizard/DatabaseErrorMessage.tsx
  dashboard/components/onboarding-wizard/InputFileSelect.tsx
  dashboard/components/onboarding-wizard/LabelledInput.tsx
  dashboard/pages/onboarding/choose-database.tsx
  dashboard/pages/onboarding/database/postgres.tsx
  dashboard/pages/onboarding/database/sqlite.tsx
  dashboard/services/settingsService.ts
Labels: onboarding

#986 Display onboarding wizard if no cloud account was connected
  dashboard/components/cloud-account/hooks/useCloudAccounts/useCloudAccount.ts
  dashboard/pages/cloud-accounts.tsx
  dashboard/services/settingsService.ts
Labels: onboarding

#1009 Aws Lambda cost calculation improvements
  providers/aws/lambda/functions.go
  providers/aws/utils/utils.go
  providers/aws/utils/utils_test.go
Labels: aws
