Repository tailwarden/komiser, pull requests merged in 2023-06, with the labels that each got.

#833 enhancement: add new ascii art logo
  cmd/version.go
Labels: cli

#835 fix: Dockerfile MAINTAINER label
  Dockerfile
Labels: cli

#826 Custom Webhook Integration
  dashboard/components/inventory/components/view/alerts/InventoryViewAlerts.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsChooseAlertMethod.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsDeleteAlert.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsDisplay.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsEditAlert.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsEditSlackAlert.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsError.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsHasNoAlerts.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsHasNoSlackIntegration.tsx
  dashboard/components/inventory/components/view/alerts/hooks/useAlerts.tsx
  dashboard/components/inventory/components/view/alerts/hooks/useEditAlerts.tsx
  dashboard/components/inventory/components/view/alerts/hooks/useSlackAlerts.tsx
  dashboard/package-lock.json
  dashboard/public/assets/img/others/cost.svg
  dashboard/public/assets/img/others/custom-webhook.svg
  dashboard/public/assets/img/others/resource.svg
  dashboard/public/assets/img/others/tickmark.svg
  dashboard/public/assets/img/others/warning.svg
  dashboard/services/settingsService.ts
  handlers/alerts_handler.go
  internal/api/v1/endpoints.go
  internal/internal.go
  migrations/20230602100000_create_custom_webhook_fields_in_alerts.go
  models/alert.go
Labels: ui, webhook

#837 feat(aws): estimate aws cloudwatch costs
  providers/aws/cloudwatch/alarms.go
Labels: aws

#836 RDS Cluster Snapshot feature
  providers/aws/aws.go
  providers/aws/rds/cluster_snapshot.go
Labels: aws

#840 Added CODEOWNERS
  .github/CODEOWNERS
Labels: aws

#808 adding support for RDS Proxies
  providers/aws/aws.go
  providers/aws/rds/proxies.go
Labels: aws

#850 Cost Calculation: AWS CloudWatch Dashboards
  providers/aws/cloudwatch/dashboards.go
Labels: aws

#848 Fix/845 exclude component dropdown fix
  dashboard/components/dashboard/components/resources-manager/hooks/useResourcesManagerChart.tsx
  dashboard/components/select-checkbox/SelectCheckbox.test.tsx
  dashboard/components/select-checkbox/SelectCheckbox.tsx
  dashboard/styles/globals.css
Labels: ui

#851 Fix/847 Bulk actions bar style doesn't match design
  dashboard/components/inventory/components/InventoryTableBulkActions.tsx
  dashboard/package-lock.json
Labels: ui

#857 v3.0.19 release 🚀
  .github/CODEOWNERS
  dashboard/components/dashboard/components/resources-manager/hooks/useResourcesManagerChart.tsx
  dashboard/components/inventory/components/InventoryTableBulkActions.tsx
  dashboard/components/select-checkbox/SelectCheckbox.test.tsx
  dashboard/components/select-checkbox/SelectCheckbox.tsx
  dashboard/package-lock.json
  dashboard/styles/globals.css
  handlers/resources_handler.go
  models/resource.go
  providers/aws/aws.go
  providers/aws/cloudwatch/alarms.go
  providers/aws/cloudwatch/dashboards.go
  providers/aws/rds/cluster_snapshot.go
  providers/aws/rds/proxies.go
Labels: bug, enhancement, ui, aws

#861 style(filter-component): redesign filter tag ui
  dashboard/components/inventory/components/InventoryActiveFilters.tsx
  dashboard/components/inventory/components/InventoryFilterDropdown.tsx
  dashboard/components/inventory/components/filter/InventoryFilter.tsx
  dashboard/components/inventory/components/filter/InventoryFilterSummary.tsx
  dashboard/pages/inventory.tsx
Labels: ui

#853 Add initial support of GCP disks and snaphosts cost
  cmd/version.go
  providers/gcp/compute/disks.go
  providers/gcp/compute/instances.go
  providers/gcp/compute/snapshots.go
  providers/gcp/gcp.go
  utils/datecalc.go
  utils/gcpcomputepricing/disk.go
  utils/gcpcomputepricing/disk_test.go
  utils/gcpcomputepricing/helpers.go
  utils/gcpcomputepricing/machine.go
  utils/gcpcomputepricing/machine_test.go
  utils/gcpcomputepricing/options.go
  utils/gcpcomputepricing/snapshot.go
  utils/gcpcomputepricing/snapshot_test.go
  utils/gcpcomputepricing/types_disk.go
  utils/gcpcomputepricing/types_getter.go
  utils/gcpcomputepricing/types_machine.go
  utils/gcpcomputepricing/types_snapshot.go
Labels: gcp

#867 fix: granularity payload bug
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerCard.tsx
  dashboard/components/dashboard/components/cost-explorer/hooks/useCostExplorer.tsx
Labels: ui

#866 Adding ECS Container Services
  providers/aws/aws.go
  providers/aws/ecs/containers.go
Labels: aws

#862 feat: fixed toast ui
  dashboard/.gitignore
  dashboard/components/toast/Toast.tsx
  dashboard/package-lock.json
Labels: ui

#869 fix: resource tags length
  dashboard/components/inventory/components/InventoryTableTags.tsx
  dashboard/package-lock.json
  dashboard/package.json
Labels: ui

#875 refact: move interface
  providers/aws/ec2/autoscaling_groups.go
  providers/aws/ec2/autoscaling_groups_client.go
Labels: aws
