Repository tailwarden/komiser, pull requests merged in 2023-04, with the labels that each got.

#696 style: match select component with figma
  dashboard/components/select/Select.tsx
  dashboard/tailwind.config.js
Labels: enhancement

#695 fix: cloud map error state offline mode
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapError.tsx
  dashboard/package-lock.json
Labels: bug

#698 Added support for AWS IAM SAML Providers
  providers/aws/aws.go
  providers/aws/iam/samlproviders.go
Labels: aws

#694 feat: calculate civo db costs
  providers/civo/storage/databases.go
Labels: civo

#703 Tech 1048/cacluate cost elastic ip
  go.mod
  go.sum
  policy.json
  providers/aws/ec2/elastic-ips.go
Labels: aws

#706 feat: support certificates in GCP
  go.mod
  go.sum
  providers/gcp/certificate/certificate.go
  providers/gcp/gcp.go
Labels: gcp

#707 v3.0.11 release 🚀
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapError.tsx
  dashboard/components/inventory/components/filter/InventoryFilter.tsx
  dashboard/components/inventory/components/filter/InventoryFilterOperator.tsx
  dashboard/components/inventory/components/filter/InventoryFilterSummary.tsx
  dashboard/components/inventory/components/filter/InventoryFilterValue.tsx
  dashboard/components/inventory/hooks/useInventory/helpers/parseURLParams.ts
  dashboard/components/layout/Layout.tsx
  dashboard/components/select/Select.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/tailwind.config.js
  go.mod
  go.sum
  handlers/alerts_handler.go
  handlers/csv_handler.go
  handlers/dashboard_handler.go
  handlers/resources_handler.go
  handlers/stats_handler.go
  handlers/tags_handler.go
  handlers/telemetry_handler.go
  handlers/views_handler.go
  internal/api/v1/endpoints.go
  internal/internal.go
  policy.json
  providers/aws/aws.go
  providers/aws/ec2/elastic-ips.go
  providers/aws/iam/samlproviders.go
  providers/civo/storage/databases.go
  providers/gcp/bigquery/bigquery.go
  providers/gcp/certificate/certificate.go
  providers/gcp/gcp.go
  providers/oci/storage/blockvolumes.go
Labels: ui, aws, civo, gcp

#710 Add Support for SQL Instances in GCP
  providers/gcp/gcp.go
  providers/gcp/sql/sql.go
Labels: gcp

#713 Add Support for IAM Service Accounts in GCP
  providers/gcp/gcp.go
  providers/gcp/iam/serviceAccount.go
Labels: gcp

#712 Add Support for Custom IAM roles in GCP
  providers/gcp/gcp.go
  providers/gcp/iam/iam.go
Labels: gcp

#717 Added Sao Paulo to cloud map
  utils/regions.go
Labels: aws

#693 collecting GCP clusters data
  go.mod
  go.sum
  providers/gcp/compute/compute.go
  providers/gcp/container/container.go
  utils/regions.go
Labels: gcp

#705 Fix PostgreSQL query for all tags
  internal/internal.go
  migrations/20230413100000_set_default_tags_in_resources.go
  migrations/main.go
  models/resource.go
Labels: postgres

#709 Add Support for Redis in GCP
  go.mod
  go.sum
  providers/gcp/gcp.go
  providers/gcp/redis/redis.go
  utils/regions.go
Labels: gcp

#720 Tech 1062/support keys gcp
  go.mod
  go.sum
  providers/gcp/gcp.go
  providers/gcp/kms/keys.go
Labels: gcp

#715 Add Support for API Gateways in GCP
  providers/gcp/gateway/gateways.go
  providers/gcp/gcp.go
Labels: gcp

#722 v3.0.12 release 🚀
  .goreleaser.yaml
  Makefile
  dashboard/package.json
  go.mod
  go.sum
  internal/internal.go
  migrations/20230413100000_set_default_tags_in_resources.go
  migrations/main.go
  models/resource.go
  providers/aws/ec2/elastic_ips.go
  providers/gcp/bigquery/tables.go
  providers/gcp/certificate/certificates.go
  providers/gcp/compute/disks.go
  providers/gcp/compute/instances.go
  providers/gcp/container/clusters.go
  providers/gcp/gateway/gateways.go
  providers/gcp/gcp.go
  providers/gcp/iam/roles.go
  providers/gcp/iam/service_accounts.go
  providers/gcp/kms/keys.go
  providers/gcp/redis/instances.go
  providers/gcp/sql/instances.go
  providers/gcp/storage/buckets.go
  utils/regions.go
Labels: aws, gcp, postgres

#730 Only Parse Used Created Policies from AWS
  providers/aws/iam/policies.go
Labels: aws

#731 Empty state enhancement
  dashboard/components/empty-state/EmptyState.mocks.tsx
  dashboard/components/empty-state/EmptyState.tsx
  dashboard/components/layout/Layout.tsx
  dashboard/package-lock.json
  dashboard/pages/inventory.tsx
  dashboard/public/assets/img/purplin/thinking.svg
Labels: enhancement

#732 Add Support for GCP Cloud Functions
  providers/gcp/function/functions.go
  providers/gcp/gcp.go
Labels: gcp

#733 Button update to match designs
  dashboard/components/banner/Banner.tsx
  dashboard/components/button/Button.mocks.tsx
  dashboard/components/button/Button.stories.tsx
  dashboard/components/button/Button.tsx
  dashboard/components/dashboard/components/cloud-map/DashboardCloudMapError.tsx
  dashboard/components/dashboard/components/cost-explorer/DashboardCostExplorerError.tsx
  dashboard/components/dashboard/components/resources-manager/DashboardResourcesManagerError.tsx
  dashboard/components/dashboard/components/top-stats/DashboardTopStatsError.tsx
  dashboard/components/dropdown/Dropdown.tsx
  dashboard/components/error-state/ErrorState.mocks.tsx
  dashboard/components/export-csv/ExportCSV.tsx
  dashboard/components/export-csv/ExportCSVButton.stories.tsx
  dashboard/components/export-csv/ExportCSVButton.test.tsx
  dashboard/components/export-csv/ExportCSVButton.tsx
  dashboard/components/icons/CheckIcon.tsx
  dashboard/components/icons/ErrorIcon.tsx
  dashboard/components/icons/FilterIcon.tsx
  dashboard/components/icons/LoadingSpinner.tsx
  dashboard/components/icons/PlusIcon.tsx
  dashboard/components/icons/StarIcon.tsx
  dashboard/components/inventory/components/InventoryActiveFilters.tsx
  dashboard/components/inventory/components/InventorySearchBar.tsx
  dashboard/components/inventory/components/InventorySearchNoResults.tsx
  dashboard/components/inventory/components/InventorySidePanel.tsx
  dashboard/components/inventory/components/InventoryTableBulkActions.tsx
  dashboard/components/inventory/components/InventoryTagWrapper.tsx
  dashboard/components/inventory/components/filter/InventoryFilter.tsx
  dashboard/components/inventory/components/filter/InventoryFilterField.tsx
  dashboard/components/inventory/components/filter/InventoryFilterOperator.tsx
  dashboard/components/inventory/components/filter/InventoryFilterSummary.tsx
  dashboard/components/inventory/components/view/InventoryView.tsx
  dashboard/components/inventory/components/view/InventoryViewHeader.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsDisplay.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsEditSlackAlert.tsx
  dashboard/components/inventory/components/view/alerts/InventoryViewAlertsError.tsx
  dashboard/components/layout/Layout.tsx
  dashboard/components/sidepanel/SidepanelHeader.tsx
  dashboard/components/toast/Toast.tsx
  dashboard/pages/inventory.tsx
  dashboard/tailwind.config.js
Labels: enhancement

#737 Add Support for AWS EC2 Key Pair
  providers/aws/aws.go
  providers/aws/ec2/keypair.go
Labels: aws

#738 Add Support for AWS EC2 Spot Instance Requests
  providers/aws/aws.go
  providers/aws/ec2/spot_instances.go
Labels: aws

#741 Add Support for AWS Systems Manager Maintenance Window
  go.mod
  go.sum
  providers/aws/aws.go
  providers/aws/systemsmanager/maintenance_window.go
Labels: aws

#740 Add Support for AWS EC2 Placement Group
  providers/aws/aws.go
  providers/aws/ec2/placement_groups.go
Labels: aws

#744 feat: report panics to Sentry
  cmd/start.go
  internal/internal.go
Labels: analytics

#748 Feature/522 support aws ec2 vpc endpoint
  providers/aws/aws.go
  providers/aws/ec2/vpc-endpoints.go
Labels: aws

#749 EC2 Elastic IP panic fix
  providers/aws/ec2/elastic_ips.go
Labels: aws

#751 chore: fixed links
  dashboard/components/layout/Layout.tsx
  dashboard/components/navbar/Navbar.tsx
  dashboard/pages/inventory.tsx
Labels: documentation
